.aboutMePage {
  display: flex;
  flex-direction: column;

  padding: 0 1em;
  border-left: 1px solid black;
  height: max-content;
  .h2 {
    margin-bottom: 0;
    font-weight: bold;
  }
  .toolsLearned {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    @media only screen and (max-width: 425px) {
      justify-content: center;
    }
    .section {
      margin: 20px;
      width: max-content;
      max-width: 400px;
      .sectionTitle {
        width: max-content;
        margin: 0 auto;
        margin-bottom: 20px;
      }
      .icons {
        display: flex;
        flex-wrap: wrap;
        @media only screen and (max-width: 425px) {
          width: 240px;
          justify-content: space-between;
        }
        .iconContainer {
          position: relative;
          width: 100px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          .icon {
            position: relative;
            // width: 90%;
            margin: 0 auto;
            &:hover {
              outline: 0 !important;
            }
          }
          .iconContainerText {
            opacity: 0;
            width: max-content;

            display: flex;
            flex-wrap: wrap;
            margin: 20px auto;
            transition: opacity 0.7s, transform 1s;
            font-weight: bold;
          }
          &:hover {
            cursor: pointer;
            div {
              transform: translate(0, -10px);
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .aboutMePage {
    border-left: none;
  }
}

@media only screen and (max-width: 450px) {
  .odinProjectOutline {
    padding-left: 0;
  }
}
