.projectsPage {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  line-height: 150%;
  border-left: 1px solid black;
  overflow-x: hidden;
  @media only screen and (max-width: 1100px) {
    border-left: none;
  }
  .projectsList {
    padding-left: 0;
    list-style-type: none;
    li {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 1em;
    }
    .projectName,
    .projectLanguage {
      display: flex;
      width: 35%;
      display: flex;
      align-items: center;
    }
    .projectLanguage {
      margin-right: 1em;
    }
    /*
  =================
  INDIVIDUAL PROJECTS
  =================
  */
  }
  .projectKeyFeatures {
    list-style: none;
    padding-left: 0;
    li {
      width: 100%;
      padding-top: 5px;
      &:before {
        content: "✓";
        display: inline-block;
        padding-right: 0.2em;
      }
    }
  }
  .projectDownsides li:before {
    content: "X";
  }
  .projectLink {
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    position: relative;
  }
  .projectImgsTitle {
    font-size: 18px;
  }
  .projectImg {
    max-width: 150px;
  }
}
