.homePage {
  display: flex;
  width: 60%;
  margin: 5em 0;
  font-family: "Raleway", sans-serif;
  &::-webkit-scrollbar {
    display: none;
  }

  .siteNavigation {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: max-content;

    @media only screen and (min-width: 1100px) {
      position: sticky !important;
      top: 0px;
    }

    .headerDarkmode:after {
      left: 10px;
      content: "";
      width: 15px;
      height: 2px;
      opacity: 0;
      display: inline-block;
      animation: blink 0.9s linear infinite alternate;
      background: rgb(255, 255, 255);
    }

    .headerLightmode:after {
      content: "";
      width: 15px;
      height: 2px;
      opacity: 0;
      display: inline-block;
      animation: blink 0.7s linear infinite alternate;
      background: rgb(0, 0, 0);
    }
    @keyframes blink {
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .pageLinks {
      padding-left: 0;
      list-style-type: none;
      font-size: 20px;
      color: black;
      li {
        width: 90%;
        &:nth-child(2) {
          margin-top: 0.5em;
        }
      }
    }
    .menuAndSwitchContainer {
      display: flex;
    }
  }
  .displayedPage {
    width: 65%;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 1100px) {
  .homePage {
    width: 90%;
    flex-direction: column;
    margin: 2em 0;

    .siteNavigation {
      border-right: none;
      border-bottom: 1px solid black;
      width: 100%;

      @media only screen and (max-width: 500px) {
        h1 {
          margin: 0;
          margin-bottom: 10px;
          width: max-content;
        }
      }
      .socialMediaLinksList {
        .socialMediaListItem {
          display: inline-block;
        }
      }
      .menuAndSwitchContainer {
        @media only screen and (max-width: 500px) {
          justify-content: space-between;
        }
      }

      .pageLinks {
        @media only screen and (max-width: 600px) {
          margin-top: 0;
        }
        @media only screen and (max-width: 500px) {
          display: none;
        }
        li {
          width: 100%;
        }
      }
    }
    .displayedPage {
      width: 100%;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (min-width: 1700px) {
  .homePage {
    width: 45%;
  }
}
