.underlineAnimation {
  font-style: italic;
  position: relative;
  transition: opacity 0.35s ease-out;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    margin-top: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(65, 142, 235);
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
  }
  &:hover {
    opacity: 0.8;
    cursor: pointer;
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

/* PAGE LINK (SCALE/GREY COVER) ANIMATION */

@media only screen and (min-width: 500px) {
  .linkFullCoverAnimation {
    text-decoration: none;
    padding: 0.2em;
    border-radius: 0.3em;
    transition: 0.5s ease-in-out;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 50%,
      rgba(187, 217, 253, 0.452) 50%
    );
    background-size: 200% 100%;
    background-position: right bottom;
  }

  .linkFullCoverAnimation:hover {
    background-position: left bottom;
    transform: scale(1.02);
    cursor: pointer;
    font-weight: 900;
    z-index: 9999;
    color: black;
  }
}
