.homePage {
  display: flex;
  width: 60%;
  margin: 5em 0;
  font-family: "Raleway", sans-serif;
}

.homePage::-webkit-scrollbar {
  display: none;
}

.siteNavigation {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.socialMediaLinksList {
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
}

.socialMediaListItem {
  width: max-content;
  margin-top: 0.5em;
  margin-right: 1em;
}

.socialMediaLinksList:nth-child(1) {
  margin-top: 0;
}

.socialMediaLinksList a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.socialMediaIcon {
  margin-right: 0.1em;
  width: 16px;
  height: 16px;
  font-weight: bold;
}

.pageLinks {
  padding-left: 0;
  list-style-type: none;
  font-size: 20px;
  color: black;
}

.pageLinks li:nth-child(2) {
  margin-top: 0.5em;
}

.pageLinks li {
  width: 90%;
}

/*y
=================
DISPLAYED CONTENT
=================
*/

.displayedPage {
  width: 65%;
  overflow-x: hidden;
}

/*
=================
LAYOUT CHANGES
=================
*/

@media only screen and (max-width: 1100px) {
  .homePage {
    width: 80%;
    flex-direction: column;
  }
  .siteNavigation {
    border-right: none;
    border-bottom: 1px solid black;
    width: 100%;
  }

  .socialMediaListItem {
    display: inline-block;
  }
  .pageLinks li {
    width: 100%;
  }
  .displayedPage {
    width: 100%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (min-width: 1700px) {
  .homePage {
    width: 45%;
  }
}

/*

DARK THEMES

*/

.linksDarkTheme {
  color: aliceblue;
}
