.projectsPage {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  line-height: 150%;
  border-left: 1px solid black;
}

.projectsList {
  padding-left: 0;
  list-style-type: none;
}

.projectsList li {
  padding: 0.2em;
  border-radius: 0.3em;
  transition: 0.5s ease-in-out;
  background: linear-gradient(
    to left,
    white 50%,
    rgba(211, 211, 211, 0.52) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
}

.projectsList li:hover {
  background-position: left bottom;
  transform: scale(1.05);
  cursor: pointer;
  font-weight: 900;
}

/*
=================
INDIVIDUAL PROJECTS
=================
*/

.projectKeyFeatures {
  list-style: none;
  padding-left: 0;
}

.projectKeyFeatures li:before {
  content: "✓";
  display: inline-block;
  padding-right: 0.2em;
}

.projectLink {
  width: 25%;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
}

@media only screen and (max-width: 1100px) {
  .projectsPage {
    border-left: none;
  }
}
