.projectsPage {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  line-height: 150%;
  border-left: 1px solid black;
}

.projectsList {
  padding-left: 0;
  list-style-type: none;
}

.projectsList li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
}

.projectName,
.projectLanguage {
  display: flex;
  width: 35%;
  display: flex;
  align-items: center;
}

.projectLanguage {
  margin-right: 1em;
}

/*
=================
INDIVIDUAL PROJECTS
=================
*/

.projectKeyFeatures {
  list-style: none;
  padding-left: 0;
}

.projectKeyFeatures li:before {
  content: "✓";
  display: inline-block;
  padding-right: 0.2em;
}

.projectLink {
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
}

@media only screen and (max-width: 1100px) {
  .projectsPage {
    border-left: none;
  }
}
