@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap");
.underlineAnimation, .projectsProgramPage .program .projectsLink,
.projectsProgramPage .program .programTitle {
  font-style: italic;
  position: relative;
  -webkit-transition: opacity 0.35s ease-out;
  transition: opacity 0.35s ease-out;
}

.underlineAnimation::after, .projectsProgramPage .program .projectsLink::after,
.projectsProgramPage .program .programTitle::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  margin-top: 2px;
  bottom: 0;
  left: 0;
  background-color: #418eeb;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.35s ease-out;
  transition: -webkit-transform 0.35s ease-out;
  transition: transform 0.35s ease-out;
  transition: transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
}

.underlineAnimation:hover, .projectsProgramPage .program .projectsLink:hover,
.projectsProgramPage .program .programTitle:hover {
  opacity: 0.8;
  cursor: pointer;
}

.underlineAnimation:hover::after, .projectsProgramPage .program .projectsLink:hover::after,
.projectsProgramPage .program .programTitle:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

/* PAGE LINK (SCALE/GREY COVER) ANIMATION */
@media only screen and (min-width: 500px) {
  .linkFullCoverAnimation {
    text-decoration: none;
    padding: 0.2em;
    border-radius: 0.3em;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    background: -webkit-gradient(linear, right top, left top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(187, 217, 253, 0.452)));
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgba(187, 217, 253, 0.452) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .linkFullCoverAnimation:hover {
    background-position: left bottom;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    cursor: pointer;
    font-weight: 900;
    z-index: 9999;
    color: black;
  }
}

@font-face {
  font-family: "norseregular";
  src: url("../../assets/fonts/norse-webfont.woff2") format("woff2"), url("../../assets/fonts/norse-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.projectsProgramPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid black;
  padding-left: 1em;
}

@media only screen and (max-width: 1300px) {
  .projectsProgramPage {
    border-left: none;
  }
}

.projectsProgramPage .program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  border-radius: 5px;
  margin: 15px 0 0 0;
  padding: 10px;
  position: relative;
}

.projectsProgramPage .program .icon {
  width: 100px;
}

.projectsProgramPage .program .programTitle {
  margin: 30px 0 15px 0;
  font-size: 40px;
  font-style: normal;
  line-height: 50px;
}

.projectsProgramPage .program .programDates {
  font-size: 28px;
  line-height: 45px;
  margin: 0;
}

.projectsProgramPage .program .programDetails {
  font-style: italic;
  text-align: center;
}

.projectsProgramPage .program .projectsLink {
  font-size: 25px;
}
/*# sourceMappingURL=ProjectPrograms.css.map */