@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

html {
  color: black;
  .app {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    line-height: 150%;
    a {
      text-decoration: none;
      font-style: normal;
      color: black;
    }
    .fadeIn {
      animation: fadeIn 1.2s;
      opacity: 1;
      position: relative;
    }
    .fadeInLeft {
      animation: fadeInLeft 2s;
      opacity: 1;
      position: relative;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(10%);
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
