.homePage {
  display: flex;
  width: 60%;
  margin: 5em 0;
  font-family: "Raleway", sans-serif;
  &::-webkit-scrollbar {
    display: none;
  }
  .siteNavigation {
    display: flex;
    flex-direction: column;
    width: 35%;
    .headerDarkmode:after {
      left: 10px;
      content: "";
      width: 20px;
      height: 2px;
      opacity: 0;
      display: inline-block;
      animation: blink 0.9s linear infinite alternate;
      background: rgb(255, 255, 255);
    }

    .headerLightmode:after {
      content: "";
      width: 20px;
      height: 2px;
      opacity: 0;
      display: inline-block;
      animation: blink 0.7s linear infinite alternate;
      background: rgb(0, 0, 0);
    }
    @keyframes blink {
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .socialMediaLinksList {
      margin-top: 0;
      padding-left: 0;
      list-style-type: none;
      .socialMediaListItem {
        width: max-content;
        margin-top: 0.5em;
        margin-right: 1em;
        &:nth-child(1) {
          margin-top: 0;
        }
      }
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        .socialMediaIcon {
          margin-right: 0.1em;
          width: 16px;
          height: 16px;
          font-weight: bold;
          background-size: cover;
        }
      }
    }
    .pageLinks {
      padding-left: 0;
      list-style-type: none;
      font-size: 20px;
      color: black;
      li {
        width: 90%;
        &:nth-child(2) {
          margin-top: 0.5em;
        }
      }
    }
    .themeSwitchingContainer {
      padding-top: 5px;
      padding-left: 4px;
      padding-bottom: 30px;
      .switchTitle {
        padding-bottom: 15px;
      }
      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        input {
          display: none;
          &:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
        }
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(77, 132, 184, 0.446);
          -webkit-transition: 0.4s;
          transition: 0.4s;
          &:before {
            position: absolute;

            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: rgb(224, 224, 224);
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }
          &.round {
            border-radius: 34px;
            &:before {
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
  .displayedPage {
    width: 65%;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 1100px) {
  .homePage {
    width: 90%;
    flex-direction: column;
    margin: 2em 0;
    .siteNavigation {
      border-right: none;
      border-bottom: 1px solid black;
      width: 100%;
      .socialMediaLinksList {
        .socialMediaListItem {
          display: inline-block;
        }
      }
      .pageLinks {
        li {
          width: 100%;
        }
      }
    }
    .displayedPage {
      width: 100%;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (min-width: 1700px) {
  .homePage {
    width: 45%;
  }
}
